<!DOCTYPE html>
<html>
  <head>
    <link href="static/style.css" rel="stylesheet">
   
    <title>FintPrintPro</title>
  </head>
  <body class="body">
    <div class="Menu" id="Menu Bar">
      <div>
      <span class="MenuTitle">FintPrintPro</span>
      </div>
      <div class="MenuLinks">
      <a class="MenuLinks" href="#Home">Home</a>
      <a class="MenuLinks" href="#Pricing">Pricing</a>
      <a class="MenuLinks" href="#About us">About Us</a>
      </div>
    </div>
    <div class="Home" id="Home">
      <div>
        <h2 class="HomeText">At FintPrintPro we're dedicated to providing friendly printer services throughout your City.<br><br>Our robust network of printers and membership packages means that access to paperwork is just around the corner, without the need for your own personal printer upkeep.<br><br>All we ask is that we store all of your data on our servers, no questions asked, as well as <a style="color: grey;" href="#Pricing">money</a>.</h2>
      </div>
      <div class="imgdiv">
          <img class="img" src="office.JPG">
      </div>
    </div>
    <div id="Pricing">
      <div>
        <h1 class="BodyTitle">Pricing</h1>
      </div>
      <div class="Pricing">
        <div class="free">
          <h2>FREE</h2>
          <ul class="ulx">
            <li class="li">Pay as you go black and white and colour print.</li>
            <li class="li">We store all of your data on our servers to repurpose as we wish.</li>
            <li class="lix">Must queue for service behind pro users.</li>
            <li class="lix">No access to data as backup.
        </div>
        <div class="charged">
          <h2>€9 /month</h2>
          <ul class="ul">
            <li class="li">Unlimited Colour Prints.</li>
            <li class="li">Priority access to busy Print Stations.</li>
            <li class="li">We still store your prints on our servers, but we give you access as a backup.</li>
          </ul>
        </div>
      </div>
    </div> 
    <div id="About us">
      <h1 class="AboutTitle">About Us</h1>
    </div>
    <div class="about">
      
      <br><h3>We are on a mission</h3>

<br>Our mission is to help people see and understand a shared economy through cloud printing solutions. It represents one of the greatest opportunities for people all over the world, profoundly impacting students, teachers, employees, universities, colleges, hotels, airports, retail stores, libraries etc. The main way we reinforce the missionary culture of our company is by hiring people who identify with, believe in, and are dedicated to advancing our mission.

<br><br><h3>We innovate and build great products</h3>

<br>Need we say more? This value speaks for itself.

<br><br><h3>We use our products</h3>

<br>Our products are the common language in our company. As a software product company, no value is greater than us using our own products. Regardless of what team you are on, we all expect you to use our products.

<br><br><h3>We work as a team</h3>

<br>What does it mean to work on a team here? It means we are heavily invested in each other’s growth. When we achieve a company goal, it is a win for all of us. When we miss a goal, we all miss. People here at ePRINTit value teamwork and see it as an essential part of the culture here.

<br><br><h3>We respect each other</h3>

<br>We value a culture of respect and humility here. We are biased against hiring selfish and disrespectful people. We are a company built on genuine, humble, smart, innovative, and respectful people. It is a value of ours that we not only focus on internally, but also with our customers.

<br><br><h3>We are honest</h3>

<br>In our culture, we value behavior that is honest, straightforward and sincere. We seek the truth in things and value having an open mind space for people to share ideas, regardless if they come from the top or bottom.

<br><br><h3>We have fun</h3>

<br>We have always wanted to build products that are fun, innovative and change lives. We value having fun at work and in our lives or what is the point of doing it all?

<br><br><h3>We value our customers</h3>

 <br>We understand that customers have a choice in where they purchase their products. We believe our relationships with customers are the ultimate differentiator and the foundation for success.
    </div>
  </body>
</html>
